body {
    background-color :antiquewhite;
    font-family: "Lucida Handwriting", "Helvetica", "sans-serif";
    text-align: center;

}
h1{
    color:burlywood;
    font-family: "Times New Roman", "Helvetica", "sans-serif";
}
h2{
    color:orange;
    font-family: "Lucida Console", "Helvetica", "sans-serif";

}


